@model Project1.ViewModels.ProductView.CreateProducts;
@{
    ViewData["Title"] = "AddProduct ";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Add Product </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <div id="form-message-warning" class="mb-4"></div>
                                <form asp-action="AddProduct" method="post" asp-controller="Owner" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" asp-for="Name">Produc Name</label>
                                                <input class="form-control" name="name" asp-for="Name" placeholder="Produc Name">
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" asp-for="Price">Produc Price</label>
                                                <input class="form-control" type="text"  asp-for="Price" placeholder="Produc Price">
                                                <span asp-validation-for="Price" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="form-label" asp-for="formFile">Product Picture</label>
                                                <input class="form-control" type="file" asp-for="formFile">
                                                <span class="text-danger" asp-validation-for="formFile"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" asp-for="Description">Product Description</label>
                                                <textarea asp-for="Description" class="form-control" placeholder="Leave a comment here" style="height: 100px"></textarea>
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">




                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary" style="background-color: #c6d9f3; border-color: #c6d9f3 ">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap bg-primary w-100 p-md-5 p-4" style="background-color: #c6d9f3 !important;">
                                <div class="d-flex justify-content-center">
                                    <img src="~/Pic/QUT FASHION.png" class="img-fluid" alt="QUT Fashion" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center pt5" style="margin-top: 50px;">
        <a class="txt2" style="color:gray" asp-action="Index" asp-controller="Home">
            Back To Home
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
    </div>
</section>
