@{
    ViewData["Title"] = "Kids Products";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>
<link href="~/css/Home/MenProduct.css" rel="stylesheet" />
<p>Use this page to detail your site's Kids Product.</p>
