@{
    ViewData["Title"] = "Women Products";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>

<link href="~/css/Home/MenProduct.css" rel="stylesheet" />
<section class="product_section ">
    <div class="container">
        <div class="product_heading">
            <h2>
                Top Sale Product
            </h2>
        </div>
        <div class="product_container">
            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="~/Pic/MenProduct/w1.png" />
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h6>
                                Men's Watch
                            </h6>
                            <h5>
                                <span>$</span> 300
                            </h5>
                        </div>
                        <div class="like">
                            <h6>
                                Like
                            </h6>
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        Add To Cart
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="~/Pic/MenProduct/w2.png" />
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h6>
                                Men's Watch
                            </h6>
                            <h5>
                                <span>$</span> 300
                            </h5>
                        </div>
                        <div class="like">
                            <h6>
                                Like
                            </h6>
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        Add To Cart
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="~/Pic/MenProduct/w3.png" />
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h6>
                                Men's Watch
                            </h6>
                            <h5>
                                <span>$</span> 300
                            </h5>
                        </div>
                        <div class="like">
                            <h6>
                                Like
                            </h6>
                            <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        Add To Cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end product section -->
<!-- product section -->
<section class="product_section ">
    <div class="container">
        <div class="product_heading">

        </div>
        <div class="product_container">
            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="~/Pic/WomenProduct/watch.jpg" />
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h6>
                                Women's Watchs
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        More
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="~/Pic/WomenProduct/Women's Perfume.jpeg" />
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h6>
                                Women's Perfume
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        More
                    </a>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="~/Pic/WomenProduct/Women's Accessories.jpeg" />
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h6>
                                Women's Accessories
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        More
                    </a>
                </div>
            </div>



            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="~/Pic/WomenProduct/Shirts.jpeg" />
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h6>
                                Women's Shirts
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        More
                    </a>
                </div>
            </div>


            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="~/Pic/WomenProduct/Women's Footwear.jpg" />
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h6>
                                Women's Footwear
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        More
                    </a>
                </div>
            </div>

            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="~/Pic/WomenProduct/Women's Activewear.jpeg" />
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h6>
                                Women's Activewear
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        More
                    </a>
                </div>
            </div>


            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="~/Pic/WomenProduct/Women's Suits.jpg" />
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h6>
                                Women's Suits
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        More
                    </a>
                </div>
            </div>



            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="~/Pic/WomenProduct/Women's Shirts.jpeg" />
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h6>
                                Women's Shirts
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        More
                    </a>
                </div>
            </div>



            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="~/Pic/WomenProduct/Women's Jackets and Coats.jpg" />
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h6>
                                Women's Jackets and Coats
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end product section -->
